html, body { margin: 0; padding: 0; font: 16px helvetica; overflow-x: hidden;
}
/* MAIN MENU */

a {text-decoration: none;}

section,header,ul,li,p,a,h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;

	-webkit-transition: background-color .4s;
	   -moz-transition: background-color .4s;
	    -ms-transition: background-color .4s;
 	     -o-transition: background-color .4s;
}

ul {
	list-style: none;
	margin: 0; padding: 0;
}

.highlight-underline {
	border-bottom: 1px solid #FFFFFF;
	font-weight: bold;
}

.underline-green {
	border-bottom: 2px solid #9AD102;
}

.active-menu {
	border-right: 1px solid black;
	background-color: #9AD102;
	color: #FFFFFF;
}

.common-link { 
	color: #9AD102; 
	border: 1px solid #9AD102;
	padding: 10px;
	border-radius: 5px;
	float: right;
}

.common-link:hover {
	background: #9AD102;
	box-shadow: 0px 2px 5px -1px #808080;
}

.common-link:hover > a {
	color: #FFFFFF;
}

.common-link:active {
	box-shadow: 0;
}

.common-link a {color: #9AD102;}

.menu-navigation {
	position: fixed;
	border: 0px solid black;
	height: 100px; width: 100%;
	z-index: 99999;
	background: #FFFFFF;
}

.menu-navigation .logo {
	background: url('../image/logo.png');
	background-size: 432px 72px;
	background-repeat: no-repeat;
	width: 432px; height: 72px;
	margin: 15px 0 0 30px;
}


.menu-navigation .main-menu {
	border: 0px solid #FFFFFF;
	margin: -46px 200px 0 0px;
	display: inline-block;
	padding-top: 0px;
	float: right;
}

.menu-navigation .main-menu li {
	list-style: none;
	border: 0px solid black;
	float: left;
	margin-right: 30px;
	font-size: 20px;
}

.menu-navigation .main-menu li a {
	color: #000000; /*#FBF3BE;*/
	border: 0px solid #FFFFFF;
	padding: 10px;
	border: 0px solid #9AD102;
}

.menu-navigation .main-menu li a:hover {
	border-bottom: 2px solid #FFFFFF;
}

.menu-navigation .other-menu {
	border: 0px solid black;
	display: inline-block;
	width: 200px;
	font-size: 16px;
	float: right;
	margin: -45px 0px 0 0;
	padding-right: 30px;
}

.menu-navigation .other-menu li a {
	color: #000000;
	margin-right: 5px;
}


.menu-navigation .other-menu li {
	list-style-type: none;
	float: right;
}
/**********************************************************/









/* HERO */
.hero {
	border: 0px solid #000000;
	background-color: #47b63f;/*#9AD102;*/
}


.hero .hero-container {
	border: 0px solid black;
	margin: 0px auto;
	width: 90%; height: 360px;
	text-align: center;	
	color: #9AD102;
	padding: 50px 0 30px 0;
}

.hero  .hero-container .hero-description {
	font-size: 45px;
	font-family: 'Alegreya Sans', sans-serif;
	border: 0px solid black;
	margin: 140px 0 50px 0;
	color: #FFFFFF;
}

.hero  .hero-container .hero-title {
	border: 0px solid black;
	font-size: 18px;
/*	background-color: #FFFFFF;*/
	color: #9AD102;
	text-align: right;
	width: 75%;
	margin: 0 auto;
	padding: 0px 0 0px 0;
	COLOR: #FFFFFF;
}


/* NEWS SECTION */

.news-section {
	width: 100%;
/*	font-size: 0;*/
	border: 1px solid #C3C3C3;
	padding: 50px 0 50px 0;
	text-align: center;
}

.news-section h1 {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #9AD102;
	width: 80%;
	margin: 0 auto;
}

.news-section .news-container {
	width: 100%;
	margin: 0 auto;
	border: 0px solid #000000;
}

.news-section .news-container .news-navigation-container {
	border-bottom: 0px solid #c3c3c3;
	padding: 00px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.news-section .news-container .news-navigation-container ul li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	margin-top: 25px;
}

.news-section .news-container .news-navigation-container ul li:nth-child(2):hover {
	text-decoration: underline;
	cursor: pointer;
}

.news-section .news-container .news-wrap {
	border: 0px solid #C3C3C3;
	width: 25%;
	display: inline-block;
	margin: 10px auto 0 auto;
	font-size: 18px;
	padding: 20px;
	text-overflow: ellipsis;
}

.news-section .news-container .news-wrap .news-description p,
.news-section .news-container .news-wrap .news-description h3,
.news-section .news-container .news-wrap .news-description .news-social-media {
	text-align: left;
}

.news-section .news-container .news-wrap .news-description .news-social-media {
	border-top: 1px solid black;
	width: 100%;
	padding-top: 10px;
}

.news-section .news-container .news-wrap .news-description .news-social-media ul li {
	display: inline-block;
	margin-right: 4px;
	font-size: 14px;
}

.news-section .news-container .news-wrap .news-description .news-social-media .fb-share-icon {
	border: 0px solid black;
	width: 70px; height: 16px;
	background-image: url(../image/fb-share-icon.png);
	background-repeat: no-repeat;
	background-size: 70px;
}

.news-section .news-container .news-wrap .news-description .news-social-media .twitter-share-icon {
	border: 0px solid black;
	width: 90px; height: 17px;
	background-image: url(../image/twitter-share-icon.png);
	background-repeat: no-repeat;
	background-size: 90px;
}

.news-section .news-pagination {
	border: 0px solid #000000;
	text-align: center;
	font-weight: bold;
	padding-top: 25px;
}
/*end NEWS*/




















/* ABOUT SECTION */
.about-section,
.page-about-section {
	width: 100%;
	padding: 100px 0 50px 0;
	border: 1px solid #C3C3C3;
}

.about-section { /*home page -> about section*/
	background: #F2F2F2;
}


.about-section .about-container {
	border: 0px solid black;
	width: 90%;
	margin: 0 auto;
	font-size: 20px;
	padding: 30px 0 100px 0;
}

.about-section .about-container .about-title h1 {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #9AD102;
	width: 80%;
	margin: 0 auto;
}

.about-section .about-container .about-description p {
	text-align: center;
	border: 0px solid black;
	font-size: 25px;
	line-height: 160%;
	margin-bottom: 30px
}



/* PAGE ABOUT */
.page-about-section { /* about page */
	background: #FFFFFF;
}

.about-section .about-container .page-about-description p {
	text-align: left;
	line-height: 200%;
	font-size: 26px;
}

.about-section .about-container .page-about-description {
	width: 90%;
	margin: 0 auto;
}
/*end PAGE ABOUT 

/* end ABOUT **********************************************************/*/



















/* PRODUCT SECTION */
.product-section {
	border: 1px 0 1px 0;
	border-bottom: 1px solid #c3c3c3;
}

.product-section .product-container {
	border: 0px solid black;
	font-size: 20px;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	padding: 120px 0 100px 0;
	text-align: center;
}

.product-section .product-container .product-title h1 {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #9AD102;
	width: 80%;
	margin: 0 auto 0px auto;
}

.product-section .product-container .product-navigation {
	border: 0px solid #C3C3C3;	
	margin: 0 auto 100px auto;
	width: 80%;
}


.product-section .product-container .product-navigation ul li {
	border: 0px solid black;
	float: left;
	margin: 0 auto; padding: 10px 9px 10px 9px;
	text-align: center;
	width: auto;
}

.product-section .product-container .product-navigation ul li a,
.product-section .product-container .payroll-sub-menu-container a {
	color: #000000;
	padding: 10px;
}

.product-section .product-container .product-navigation ul li:nth-child(1) {
	/*border-left: 1px solid #9AD102;*/
}

.product-section .product-container .product-navigation ul li a:hover {
	text-decoration: underline;
}

.product-section .product-container .payroll-sub-menu-container {
	border: 0px solid #c3c3c3;
	width: auto;
	list-style: none;
	margin: 0px 0 0px 0px;
	padding: 10px 0 10px 20px;
/*	visibility: hidden; */
/*	
	border-left: 1px solid #9AD102;
	border-bottom: 1px solid #9AD102;
	border-right: 1px solid #9AD102;
*/
}

.product-section .product-container .payroll-sub-menu-container ul li{
}

.product-section .product-container .list-down {
	display: block;
}

.product-section .product-container .payroll-sub-menu-container ul{
	list-style: none;
}

.product-section .product-container .payroll-sub-menu-container .payroll-sub-menu {
	border: 0px solid black;
	display: block;
}

.product-section .product-container .payroll-sub-menu-container .payroll-sub-menu a:hover {
	background-color: #C3C3C3;
}

.product-1 {
	border: 1px solid #c3c3c3;
	width: 28%; /*30%*/  height: 300px;
	margin: 0 20px 35px 20px;
	display: inline-block;
}

.product-1:nth-child(odd) {
	background-image: url(../image/adidas.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.product-1:nth-child(even) {
	background-image: url(../image/nike.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.prouduct-1 .product-image .product-description {
	border: 3px solid #c3c3c3;
	width: 28%; /*30%*/  height: 300px;
	margin: 0 15px 35px 20px;
	display: inline-block;
	
	padding: 0;
	background-color: rgba(0,0,0, 0.9);
	position: relative;
	transition: opacity .4s;
}

.prouduct-1 .product-image:hover {
	background-color: rgba(0,0,0, 0.1);
	cursor: pointer;
}
/*end PRODUCT */

























/* CONTACT */
#contact-section {
	background-color: #F2F2F2; /*#5C855B;*/
	padding: 80px 0 50px 0;
	
}

.contact-section .contact-wrap {
	border: 1px solid red;
	width: 90%;
	margin: 0 auto;
	padding: 50px 0 50px 0;
	border: 0px solid #FFFFFF;
	font-size: 20px;
	text-align: center;
}

.contact-section .contact-wrap .send-email {
	border: 0px solid #000000;
	width: 90%;
	margin: 100px auto 50px auto;
}

.contact-section .contact-wrap h1 {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #9AD102;
	width: 80%;
	margin: 0 auto 50px auto;
}


input:not([type="submit"]) {
	padding: 15px 10px 15px 60px;
	width: 87%;
	font-size: 20px;
	color: #000000;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	border: 1px solid #9AD102;
	transition: background-color .3s;
	
}

input:not([type="submit"]):focus {
	border: 0;
	background-color: #ecf9ec;
}

input[type="submit"] {
	border: 1px solid #9AD102;
	background-color: transparent;
	color: #349b49;
	padding: 10px 30px 10px 30px;
	margin-top: 10px;
	font-size: 20px;
	width: 100%;
	transition: background-color .3s;
}

input[type="submit"]:hover {
	background-color: #9AD102;
	color: #FFFFFF;
}

textarea {
	width: 93%; height: 120px;
	margin-top: 5px;
	font-size: 18px;
	color: #000000;
	padding: 20px;
	transition: background-color .3s;
	background-color: #FFFFFF;
	border: 1px solid #9AD102;
/*
	background-image: url(icons.png);
	background-repeat: no-repeat;
*/
}
textarea:focus {
	background-color: #ecf9ec;
}

.contact-info-content,
.email-form {
	border: 0px solid black;
	height: 100%;
	display: inline-block;
}

.contact-info-content {
	padding: 50px 50px 30px 50px;
	width: auto;
}

.email-form {
	padding: 30px 0px 50px 0px;
	width: 45%;
	text-align: left;
}

.contact-info-content li {
	text-align: left;
	border: 0px solid black;
}

.common-input,
.common-icon {
	background-repeat: no-repeat;
	border: 0px solid #151515;
	background-image: url(../image/icons.png);
}

.common-icon {
	width: 32px; height: 32px;
	display: inline-block;
	border: 0px solid #000000;
	
}

.address {
	background-position: 0 -208px;
}

.telephone {
	background-position: 0 -312px; 
}

.phone {
	background-position: 0 -312px; 
}

.mobile {
	background-position: 0 -104px;
}

.email-icon {
	background-position: 0 0;
}

.email {
	background-position: 12px 10px;
}

.name {
	background-position: 12px -510px;
}


.subject {
	background-position: 12px -406px;
}

.message {
	background-position: 12px -250px;
}

/*
.sprites { background: url(sprites.png) no-repeat; }
.email-32 { width: 32px; height: 32px; background-position: 0 0; }
.facebook-32 { width: 32px; height: 32px; background-position: 0 -52px; }
.iphone-32 { width: 32px; height: 32px; background-position: 0 -104px; }
.linkedin-32 { width: 32px; height: 32px; background-position: 0 -156px; }
.location-32 { width: 32px; height: 32px; background-position: 0 -208px; }
.message-32 { width: 32px; height: 32px; background-position: 0 -260px; }
.phone1-32 { width: 32px; height: 32px; background-position: 0 -312px; }
.sent-32 { width: 32px; height: 32px; background-position: 0 -364px; }
.topic-32 { width: 32px; height: 32px; background-position: 0 -416px; }
.twitter-32 { width: 32px; height: 32px; background-position: 0 -468px; }
.user_male3-32 { width: 32px; height: 32px; background-position: 0 -520px; }
*/













/* FOOTER */


.footer-section p {
	text-align: center; 
	color: #FFFFFF;
	display: block;
}

.footer-section {
	text-align: center;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #47b63f;
	background: #47b63f;
}



/* end FOOTER*/















/* ABOUT PAGE */
.page-about-section {
	background: #FFFFFF;
}
/*  */


.login-container {
	border: 0px solid black;
	width: 90%;
	margin: 160px auto;
}

.login-container .login-description h1 {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #9AD102;
	width: 80%;
	margin: 0 auto 0px auto;

}

.login-container .login-description p {
	text-align: center;
	font-size: 20px;
	margin-bottom: 63px;
}

.login-container .login-form {
	width: 30%;
	margin: 0 auto;
}

.login-container .login-form .submit {
	background-color: #9AD102;
	color: #FFFFFF;
	width: 40%; float: right;
	margin: 0;
}